* html #TB_load 
{ 
	/* ie6 hack */ 
	position: absolute; 
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}


* html #TB_HideSelect { 
	/* ie6 hack */ 
	position: absolute;  
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}