p.action
{
	padding:  5px;
}

p.action span.title
{
	font-size: 16px;
	font-weight: bold;
	display: block;
}
p.action span.desc
{
	font-size: 12px;
	font-weight: normal;
	display: block;
	padding-bottom: 4px;
}

/* Notice Styles */

span.alert, span.info, span.download, span.note
{
	display: block;
	padding: 10px 10px 10px 45px;
	margin: 15px 0;
}

span.alert
{
	color: #c00;
	border-top: 3px solid #fe7b7a;
	border-bottom: 3px solid #fe7b7a;
	background: #FFD6D6 url(../img/icons/close_24.png) 10px 50% no-repeat;
}

span.info
{
	color: #0055BB;
	border-top: 3px solid #629de3;
	border-bottom: 3px solid #629de3;
	background: #D8E5F8 url(../img/icons/about_24.png) 10px 50% no-repeat;
}

span.note
{
	color: #B79000;
	border-top: 3px solid #fde179;
	border-bottom: 3px solid #fde179;
	background: #FEF6D8 url(../img/icons/on_24.png) 10px 50% no-repeat;
}

span.download
{
	color: #57861A;
	border-top: 3px solid #c2df88;
	border-bottom: 3px solid #c2df88;
	background: #EEF7DD url(../img/icons/backup_24.png) 10px 50% no-repeat;
}

.pagination
{
	clear:left;
	font-size:85%;
	margin:0em 0pt;
	padding-left:1em;
	font-family:arial, helvetica, sans-serif;
	font-size:110%;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
}

.pagination a, .pagination span
{
	background:transparent none repeat scroll 0%;
	border:1px solid #FFFFFF;
	display:block;
	float:left;
	margin-right:0.1em;
	padding:0.2em 0.5em;
}

.pagination a
{
	color:#105CB6;
	border:1px solid #211E20;
	text-decoration:none;
}

.pagination a:hover
{
	border-color:#2E6AB1;
	background-color:#D5ECFD;
}

.pagination span.nextprev
{
	border:1px solid #211E20;
	color:#999999;
}

.pagination span.current
{
	background: #224FB7 none repeat scroll 0%;
	border:1px solid #2E6AB1;
	color:#FFFFFF;
	font-weight:bold;
}

.pagination a.nextprev { font-weight:bold; }

/* Normal Bubble */
div.bubble
{
	width: auto;
	margin-bottom: 30px;
}

div.bubble blockquote
{
	margin: 0px;
	padding: 0px;
	font-size:12px;
	border: 1px solid #c9c2c1;
	background-color: #fff;
}

div.bubble blockquote p
{
	margin: 10px;
	padding: 0px;
}

div.bubble cite
{
	position: relative;
	margin: 0px;
	padding: 7px 0px 0px 15px;
	top: 6px;
	font-style:normal;
	background: transparent url(../images/tip.gif) no-repeat 20px 0;
}

/* Rounded Bubble */
div.bubble div.rounded
{
	margin-bottom: 10px;
	border: 3px solid #fff;
	background-color: #b7e0ff;
}

div.bubble div.rounded blockquote
{
	border: 0;
	background:none;
	color: #333333;
	background-color: transparent;
}

div.bubble div.rounded blockquote p { margin: 0px 10px; }

div.bubble cite.rounded
{
	position: relative;
	margin: 0px;
	padding-left: 4px;
	padding-top: 14px;
	top: 10px;
	background: transparent url(../images/tip-rounded.gif) no-repeat 15px 0;
	margin-bottom: 20px;
}

/* Pimped Bubble */
div#pimped.bubble { font-size: 0.9em; }

div#pimped.bubble div.rounded
{
	color: #fff;
	border: 3px solid #fff;
	background-color: #111;
}

div#pimped.bubble cite.rounded { background: transparent url(../images/tip-pimped.gif) no-repeat 15px 0; }

#facebox .b { background:url(../images/b.png); }

#facebox .tl { background:url(../images/tl.png); }

#facebox .tr { background:url(../images/tr.png); }

#facebox .bl { background:url(../images/bl.png); }

#facebox .br { background:url(../images/br.png); }

#facebox
{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: left;
}

#facebox .popup { position: relative; }

#facebox table
{
	margin: auto;
	border-collapse: collapse;
}

#facebox tr { height: auto; }

#facebox td
{
	padding-left: 0px;
	padding-right: 0px;
	border-left: none;
	border-bottom: none;
}

#facebox .body
{
	padding: 10px;
	background: #fff;
	width: 450px;
}

#facebox .loading { text-align: center; }

#facebox .image { text-align: center; }

#facebox img { border: 0; }

#facebox .footer
{
	border-top: 1px solid #DDDDDD;
	padding-top: 5px;
	margin-top: 10px;
	text-align: right;
}

#facebox .title
{
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: left;
	font:24px bold;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br
{
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0;
}

/* BUTTONS */
span.cssbutton { clear:left; }

span.cssButton a, span.cssButton button
{
	display:block;
	float:left;
	margin:0 7px 0 0;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px; /* Links */
}

span.cssButton button
{
	width:auto;
	overflow:visible;
	padding:4px 10px 3px 7px; /* IE6 */
}

span.cssButton button[type]
{
	padding:5px 10px 5px 7px; /* Firefox */
	line-height:17px; /* Safari */
}

*:first-child+html button[type] { padding:4px 10px 3px 7px; /* IE7 */ }

span.cssButton button img, span.cssButton a img
{
	margin:0 3px -3px 0 !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
	background:none;
}

/* STANDARD */

span.cssButton button:hover, span.cssButton a:hover
{
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	color:#336699;
}

span.cssButton a:active
{
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#fff;
}

/* buttonGreen */

span.cssButton button.buttonGreen, span.cssButton a.buttonGreen { color:#529214; }

span.cssButton a.buttonGreen:hover, span.cssButton button.buttonGreen:hover
{
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}

span.cssButton a.buttonGreen:active
{
	background-color:#529214;
	border:1px solid #529214;
	color:#fff;
}

/* buttonRed */

span.cssButton a.buttonRed, button.buttonRed { color:#d12f19; }

span.cssButton a.buttonRed:hover, span.cssButton button.buttonRed:hover
{
	background:#fbe3e4;
	border:1px solid #fbc2c4;
	color:#d12f19;
}

span.cssButton a.buttonRed:active
{
	background-color:#d12f19;
	border:1px solid #d12f19;
	color:#fff;
}

/* Progress Styles */
.progress_border
{
	background:url(../images/progress-r.gif) left top repeat-x;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	width: 350px;
	height: 18px;
	overflow: hidden; 
	text-align: center; 
	color: #333; 
	font-weight: bold; 
	padding-top: 0pt; 
	line-height: 1.4;
}

.progress_img
{
	background:url(../images/p_bar_n.gif) left top repeat-x;
	height: 18px;
	width: 30px;
}

.progress_img_sliver
{
	background:url(../images/progress_1px.png) left top repeat-x;
	height: 18px;
	width: 50px;
	overflow: hidden; 
	text-align: center; 
	color: #FFF; 
	font-weight: bold; 
	padding-top: 0; 
	float:left;
	line-height: 1.4;
}

.progress_img_blank
{
	height: 18px;
	width: 50px;
	overflow: hidden; 
	text-align: center;
	float:right;
	color:#333; 
	font-weight: bold; 
	padding-top: 0pt; 
	line-height: 1.4;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window
{
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine
{
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link { color: #666666; }

#TB_window a:visited { color: #666666; }

#TB_window a:hover { color: #000; }

#TB_window a:active { color: #666666; }

#TB_window a:focus { color: #666666; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay
{
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack { background: url(../images/macFFBgHack.png) repeat; }

.TB_overlayBG { background: url(../images/macFFBgHack.png) repeat; }

* html #TB_overlay { /* ie6 hack */ position: absolute;  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window
{
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */ position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image
{
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	padding: 0px;
}

#TB_caption
{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow
{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow
{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle
{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title
{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent
{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal { padding:15px; }

#TB_ajaxContent p { padding:5px 0px 5px 0px; }

#TB_load
{
	position: fixed;
	display:none;
	height:60px;
	width:60px;
	z-index:103;
	top: 50%;
	left: 50%;
	background: #FFFFFF;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

#TB_load img 
{ 
	margin-top:10px;
	border:none;
	padding:none;
	background: transparent;
}


#TB_HideSelect
{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: .999;
	opacity: .999;
	height:100%;
	width:100%;
}

#TB_iframeContent
{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	margin-bottom:1px;
}